<a href="<%= item_url(item.id) %>" class="thumbnail">
  <div class="photo-box">
    <img src="<%= item.photo.url(:medium) %>">
  </div>
  <div class="description-box">
    <div class="avatar-box">
      <img src="<%= item.user.avatar.url(:thumb) %>">
    </div>
    <div class="detail-box">
      <p><%= truncate(item.title, :length => 16) %></p>
      <p class="price"><%= number_to_currency(item.sale_price) %></p>
    </div>
  </div>
</a>