<div class="left-col">
  <%= render partial: "account_sidenav" %>
</div>

<div class="main-col">

  <h1>On the Way</h1>

  <% if @orders.count > 0 %>

    <p class="description">Items which you have purchased but have not yet been shipped by the seller.</p>

    <table>
      <thead>
      <tr>
        <th>Photo</th>
        <th>Item Title</th>
        <th>Sale Price</th>
        <th>Purchase Date</th>
        <th>Seller</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= image_tag order.item.photo.url(:thumb) %></td>
          <td><%= order.item.title %></td>
          <td><%= number_to_currency(order.item.sale_price) %></td>
          <td><%= order.item.created_at %></td>
          <td><%= link_to full_name(order.item.user) %></td>
          <td>
            <%= link_to "Invoice", invoice_url(order.item.order.id) %>
            <%= link_to "Leave Feedback", new_order_feedback_url %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="description">You are not waiting for any items to ship to you.</p>
  <% end %>

</div>