<div class="left-col">
  <%= render partial: "account_sidenav" %>
</div>

<div class="main-col">
  <h1>Profile Settings</h1>

  <%= image_tag current_user.avatar.url(:thumb), class: 'polaroid' %>

  <form action="<%= user_url(current_user.id) %>" method="POST" enctype="multipart/form-data">

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="PATCH">

    <label for="avatar">Avatar</label>
    <input id="avatar" type="file" name="user[avatar]"><br>

    <label>First Name</label>
    <input type="text" name="user[fname]" value="<%= current_user.fname %>"><br>

    <label>Last Name</label>
    <input type="text" name="user[lname]" value="<%= current_user.lname %>"><br>

    <label>E-Mail</label>
    <input type="text" name="user[email]" value="<%= current_user.email %>"><br>

    <label>Username</label>
    <input type="text" name="user[username]" value="<%= current_user.username %>"><br>

    <label>Current Password</label>
    <input type="password" name="user[current_password]" value=""><br>

    <label>New Password</label>
    <input type="password" name="user[password]" value=""><br>

    <label>Re-enter New Password</label>
    <input type="password" name="user[password_confirmation]" value=""><br>

    <button>Update Account</button>

  </form>
</div>