<h3>Overview</h3>
<ul>
  <li><%= link_to "Profile Settings", account_profile_url %></li>
  <li><%= link_to "Reports", account_reports_url %></li>
  <li><%= link_to "Feedback", account_feedback_url %></li>
</ul>

<h3>My Closet</h3>
<ul>
  <li><%= link_to "Available", account_available_url %></li>
  <li><%= link_to "Received", account_received_url %></li>
  <li><%= link_to "Gone", account_gone_url %></li>
</ul>

<h3>Selling & Trading</h3>
<ul>
  <li><%= link_to "Ready to Ship", account_ship_url %></li>
  <li><%= link_to "Ready to be picked up", account_pickup_url %></li>
  <li><%= link_to "Waiting for Feedback", account_pending_feedback_url %></li>
</ul>

<h3>Receiving</h3>
<ul>
  <li>On the Way</li>
  <li><%= link_to "Leave Feedback", account_leave_feedback_url %></li>
</ul>

<hr>

<h1>On the Way</h1>

<table border="1">
  <thead>
  <tr>
    <td>Photo</td>
    <td>Item Title</td>
    <td>Seller</td>
    <td>Date Shipped</td>
  </tr>
  </thead>
  <tbody>
  <% if @items.count > 0 %>
    <% @items.each do |item| %>
      <tr>
        <td><%= image_tag item.photo.url(:thumb) %></td>
        <td><%= item.title %></td>
        <td><%= full_name(item.user) %></td>
        <td>Shipping in Progress</td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="6">You have no items pending shipment to you.</td>
    </tr>
  <% end %>
  </tbody>
</table>