<h3>Overview</h3>
<ul>
  <li><%= link_to "Profile Settings", account_profile_url %></li>
  <li><%= link_to "Reports", account_reports_url %></li>
  <li><%= link_to "Feedback", account_feedback_url %></li>
</ul>

<h3>My Closet</h3>
<ul>
  <li>Available</li>
  <li><%= link_to "Received", account_received_url %></li>
  <li><%= link_to "Gone", account_gone_url %></li>
</ul>

<h3>Selling & Trading</h3>
<ul>
  <li><%= link_to "Ready to Ship", account_ship_url %></li>
  <li><%= link_to "Ready to be picked up", account_pickup_url %></li>
  <li><%= link_to "Waiting for Feedback", account_pending_feedback_url %></li>
</ul>

<h3>Receiving</h3>
<ul>
  <li><%= link_to "On the Way", account_on_the_way_url %></li>
  <li><%= link_to "Leave Feedback", account_leave_feedback_url %></li>
</ul>

<hr>

<h1>Available</h1>

<table border="1">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Sale Price</th>
      <th>Trade Price</th>
      <th>Title</th>
      <th>Posted Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% if @items.count > 0 %>
      <% @items.each do |item| %>
        <tr>
          <td><%= image_tag item.photo.url(:thumb) %></td>
          <td><%= number_to_currency(item.sale_price) %></td>
          <td><%= item.trade_price %></td>
          <td><%= item.title %></td>
          <td><%= item.created_at %></td>
          <td>Edit Destroy</td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>