<div class="left-col">
  <%= render partial: "account_sidenav" %>
</div>

<div class="main-col">
  <h1>Ready to Ship</h1>

  <table>
    <thead>
    <tr>
      <th>Photo</th>
      <th>Item Title</th>
      <th>Buyer</th>
      <th>Address</th>
      <th>Date Sold</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% if @items.count > 0 %>
      <% @items.each do |item| %>
        <tr>
          <td><%= image_tag item.photo.url(:thumb) %></td>
          <td><%= item.title %></td>
          <td><%= full_name(item.order.buyer) %></td>
          <td><%= address(item.order) %></td>

          <% if item.order.created_at < 3.days.ago %>
            <td class="late-shipping"><%= distance_of_time_in_words(item.order.created_at, Time.zone.now) %> ago</td>
          <% else %>
            <td><%= distance_of_time_in_words(item.order.created_at, Time.zone.now) %> ago</td>
          <% end %>

          <td><%= link_to "Mark as Shipped", mark_as_shipped_url(item.order.id) %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="6">You have no items awaiting shipment.</td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>