<div class="left-col">
  <%= render partial: "account_sidenav" %>
</div>

<div class="main-col">
  <h1>Ready to be picked up</h1>

  <% if @items.count > 0 %>
  <table>
    <thead>
    <tr>
      <th>Photo</th>
      <th>Item Title</th>
      <th>Buyer</th>
      <th>Address</th>
      <th>Date Sold</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= image_tag item.photo.url(:thumb) %></td>
          <td><%= item.title %></td>
          <td><%= full_name(item.order.buyer) %></td>
          <td><%= address(item.order) %></td>
          <td><%= distance_of_time_in_words(item.order.created_at, Time.zone.now) %></td>
          <td>Mark as Picked Up</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <p class="description">You have no items awaiting pickup.</p>
  <% end %>
</div>