<div class="left-col">
  <%= render partial: 'dashboard/feed_nav' %>
</div>

<div class="main-col">
  <h1>Most Active Users</h1>

  <div class="results">
    <% @users.each do |result| %>
      <a href="<%= user_url(result.id) %>" class="result-box">
        <div class="result-image-box">
          <%= image_tag result.avatar.url(:thumb) %>
        </div>
        <div class="result-text-box">
          <p class="title"><%= full_name(result) %></p>
          <p>@<%= result.username %></p>
          <p class="context"><%= pluralize(result.items.count, 'Transactions') %></p>
        </div>
      </a>
    <% end %>
  </div>
</div>