<div class="jumbotron">

  <div class="container">
    <div id="jumbo-left">
      <h1>Welcome to the<br>home page</h1>
      <h3>More detailed info goes here as <br>subtitle text.</h3>
    </div>

    <div id="jumbo-right">
      <%= render partial: "sign_in" %>
    </div>
  </div>

</div>

<div class="feature-bar">

  <div class="container">

    <div class="col-1">
      <h1>CLEAN OUT YOUR CLOSET</h1>
      <p>List items to sell in under 30 seconds. We handle payments & make shipping easy.</p>
    </div>

    <div class="right">

      <div class="col-2">
        <h1>TRADE FASHION SAFELY</h1>
        <p>Trade items using 'karma'. It's the cheapest way to refresh your closet, & totally safe!</p>
      </div>

      <div class="col-3">
        <h1>SHOP UP TO 90% OFF</h1>
        <p>Shop thousands of discounted closets. Get what you order, or your money back.</p>
      </div>

    </div>

  </div>

</div>

<div class="testimonials group">
  <div class="container">
    <div class="left-testimonials group">
      <div class="testimonial-box">
        <div class="img-holder">
          <%= image_tag "user1.jpg" %>
        </div>
        <div class="text-holder">
          <p>I love trading all of my spare suits on 99Suits.</p>
          <small>-John Smith</small>
        </div>
      </div>
      <div class="testimonial-box">
        <div class="img-holder">
          <%= image_tag "user2.jpg" %>
        </div>
        <div class="text-holder">
          <p>It's great to find such awesome deals on clothes to fill out my closet.</p>
          <small>-Ryan Dawson</small>
        </div>
      </div>
    </div>
    <div class="right-testimonials">
      <div class="testimonial-box">
        <div class="img-holder">
          <%= image_tag "user3.jpg" %>
        </div>
        <div class="text-holder">
          <p>Awesome selection of moustache grooming products.</p>
          <small>-Ed Harold</small>
        </div>
      </div>
      <div class="testimonial-box">
        <div class="img-holder">
          <%= image_tag "user4.jpg" %>
        </div>
        <div class="text-holder">
          <p>I enjoy trading swag with the great community.</p>
          <small>-Jim Beltringer</small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="feature-bar">
  <div class="container">
    <h1 class="center-text">Check out the latest items.</h1>
  </div>
</div>

<div class="container">
  <%= render partial: "dashboard/items_table" %>
</div>

