<!-- Shows all of the items available for sale -->

<div class="left-col">
  <ul>
    <li><h1>Feed</h1></li>
    <li>
      <ul>
        <li><a href="#/">All</a></li>
        <li><a href="#/sale">Sale</a></li>
        <li><a href="#/trade">Trade</a></li>
      </ul>
    </li>
    <li><h1>Featured</h1></li>
    <li>
      <ul>
        <li><a href="">Staff Picks</a></li>
        <li><a href="">Most Liked</a></li>
        <li><a href="">Most Commented</a></li>
        <li><a href="">Most Active Users</a></li>
        <li><a href="">Newest Users</a></li>
      </ul>
    </li>
  </ul>
</div>

<div class="main-col">
  <button id="refresh">Refresh</button>

  <h1><%= headerTitle %> <small>(<%= items.length %> Items)</small></h1>

  <% items.each(function(item){ %>

    <a href="/#/items/<%= item.id %>" class="thumbnail">
      <div class="photo-box">
        <img src="http://s3.amazonaws.com/99suits_dev/items/photos/000/000/024/medium/images.jpg?1403823221">
      </div>
      <div class="description-box">
        <div class="avatar-box">
          <img src="http://s3.amazonaws.com/99suits_dev/users/avatars/000/000/005/medium/128.jpg?1403985764">
        </div>
        <div class="detail-box">
          <p><%= item.get("title").substr(0,16) %></p>
          <p class="price"><%= item.get("sale_price") %></p>
        </div>
      </div>
    </a>

  <% }); %>
</div>