<!-- Shows all of the items available for sale -->

<div class="left-col">
  <ul>
    <li>Test</li>
    <li>Test</li>
  </ul>
</div>

<div class="main-col">
  <button id="refresh">Refresh</button>
  <a href="#/items/new">List New Item</a><br><br>

  <h1>Feed - All <small>(<%= items.length %> Items)</small></h1>

  <% items.each(function(item){ %>

  <a href="/" class="thumbnail">
    <div class="photo-box">
      <img src="<%= item.get("photo_file_name") %>">
    </div>
    <div class="description-box">
      <div class="avatar-box">
        <img src="<%= item.get("photo_content_type") %>">
      </div>
      <div class="detail-box">
        <p><%= item.get("title").substr(0,16) %></p>
        <p class="price"><%= item.get("sale_price") %></p>
      </div>
    </div>
  </a>

  <% }) %>
</div>