<%= flash[:errors] %>

<form action="<%= users_url %>" method="POST" enctype="multipart/form-data">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="avatar">Avatar</label><br>
  <input id="avatar" type="file" name="user[avatar]"><br><br>

  <label>First Name</label><br>
  <input type="text" name="user[fname]" value="<%= @user.fname %>"><br><br>

  <label>Last Name</label><br>
  <input type="text" name="user[lname]" value="<%= @user.lname %>"><br><br>

  <label>E-Mail</label><br>
  <input type="text" name="user[email]" value="<%= @user.email %>"><br><br>

  <label>Username</label><br>
  <input type="text" name="user[username]" value="<%= @user.username %>"><br><br>

  <label>City</label><br>
  <input type="text" name="user[city]" value="<%= @user.city %>"><br><br>

  <label>State</label><br>
  <input type="text" name="user[state]" value="<%= @user.state %>"><br><br>

  <label>Bio</label><br>
  <textarea name="user[bio]"><%= @user.bio %></textarea><br><br>

  <label>Password</label><br>
  <input type="password" name="user[password]" value=""><br><br>

  <button>Create Account</button><br><br>

</form>