<div class="whole-width">

  <h2 id="full_name"><%= full_name(@user) %></h2>
  <h3 id="username">aka @<%= @user.username %></h3>

  <%= render partial: "users/overview_box", :locals => { :user => @user } %>

  <h2 id="full_name"><%= @user.fname %>'s Closet</h2>

  <%= render partial: "dashboard/items_table" %>

</div>