<div class="left-col">
  <ul>
    <li><%= link_to "Closet", user_url(@user.id) %></li>
    <li><%= link_to "Feedback", user_feedback_url(@user.id) %></li>
    <li><%= link_to "Followers", user_followers_url(@user.id) %></li>
    <li><%= link_to "Following", user_following_url(@user.id) %></li>
  </ul>
</div>

<div class="main-col">

  <%= render partial: "users/user_summary" %>

  <h1><%= @user.fname %>'s Closet</h1>

  <%= render partial: "dashboard/items_table" %>

</div>