<div class="left-col">
  <ul>
    <li>Overview</li>
    <li>Feedback</li>
    <li>Followers</li>
    <li>Following</li>
  </ul>
</div>
<div class="main-col">

  <div class="header-button-bar">
    <h1><%= full_name(@user)%> <small>@<%= @user.username %></small></h1>
    <%= render partial: "users/follow_button" %>
  </div>

  <table class="user-profile-table">
    <tr>
      <td id="photo-col"><%= image_tag @user.avatar.url(:medium) %></td>
      <td><%= @transactions_count %></td>
      <td><%= @followed_by.count %></td>
      <td><%= @followed_users.count %></td>
    </tr>
    <tr id="detail">
      <td style="border-right: 1px solid #eee;">
        <%= render partial: "users/feedback_rating" %>
      </td>
      <td style="border-right: 1px solid #eee;">Transactions</td>
      <td style="border-right: 1px solid #eee;">Followers</td>
      <td>Following</td>
    </tr>
  </table>

  <div class="bio-box">
    <%= @user.bio %>
  </div>

  <h1><%= @user.fname %>'s Closet</h1>

  <%= render partial: "dashboard/items_table" %>

</div>