<div class="left-col">
  <%= render partial: "dashboard/thumbnail", :locals => { :item => @item } %>
</div>

<div class="main-col">
  <h1>Order <%= @item.title %></h1>

  <p><%= flash[:errors] %></p>
  <%= form_for @order, :url => item_orders_url(@item.id) do |f| %>

    <%= f.label :street %><br>
    <%= f.text_field :street %><br><br>

    <%= f.label :city %><br>
    <%= f.text_field :city %><br><br>

    <%= f.label :state %><br>
    <%= f.text_field :state %><br><br>

    <%= f.label :zip %><br>
    <%= f.text_field :zip %><br><br>

    <%= label_tag :card_number, "Credit Card #" %><br>
    <%= text_field_tag :card_number, nil, { :name => nil, :'data-stripe' => "number"} %><br><br>

    <%= label_tag :card_code, "CVC" %><br>
    <%= text_field_tag :card_code, nil, { :name => nil, :'data-stripe' => "cvc"} %><br><br>

    <%= label_tag "Expiration Date" %><br><br>
    <%= select_month nil, { use_two_digit_numbers: true }, { :name => nil, :'data-stripe' => "exp-month" } %><br><br>
    <%= select_year nil, { start_year: Date.today.year, end_year: Date.today.year + 10 }, { :name => nil, :'data-stripe' => "exp-year" } %><br><br>

    <%= f.label :purchase_type %><br>

    <% if @item.trade_price.nil? %>
      <%= f.select :purchase_type, ["Purchase"] %><br><br>
    <% elsif @item.sale_price.nil? %>
      <%= f.select :purchase_type, ["Trade"] %><br><br>
    <% else %>
      <%= f.select :purchase_type, ["Cash", "Trade"] %><br><br>
    <% end %>

    <%= f.label :shipping_type %><br>
    <% if @item.allow_pickup %>
      <%= f.select :shipping_type, ["Ship", "Local Pickup"] %><br><br>
    <% else %>
      <%= f.select :shipping_type, ["Ship"] %><br><br>
    <% end %>

    <%= f.submit "Submit Order" %><br><br>

  <% end %>
</div>