<h1>Order <%= @item.title %></h1>

<%= image_tag @item.photo.url(:thumb) %>

<%= render partial: "items/item_detail" %>

<p>Buyer: <%= current_user.username %></p>
<p>Seller: <%= @item.user.username %></p>

<p><%= flash[:errors] %></p>
<%= form_for @order, :url => item_orders_url(@item.id) do |f| %>

  <%= f.label :street %>
  <%= f.text_field :street %><br>

  <%= f.label :city %>
  <%= f.text_field :city %><br>

  <%= f.label :state %>
  <%= f.text_field :state %><br>

  <%= f.label :zip %>
  <%= f.text_field :zip %><br>

  <%= f.label :purchase_type %>

  <% if @item.trade_price.nil? %>
    <%= f.select :purchase_type, ["Purchase"] %><br>
  <% elsif @item.sale_price.nil? %>
    <%= f.select :purchase_type, ["Trade"] %><br>
  <% else %>
    <%= f.select :purchase_type, ["Cash", "Trade"] %><br>
  <% end %>

  <%= f.label :shipping_type %>
  <% if @item.allow_pickup %>
    <%= f.select :purchase_type, ["Ship", "Local Pickup"] %>
  <% else %>
    <%= f.select :purchase_type, ["Ship"] %>
  <% end %>

  <%= f.submit "Submit Order" %>

<% end %>