<div class="left-col">
  <ul>
    <li>Seller Profile</li>
    <li>More Like This</li>
  </ul>
</div>
<div class="main-col">

  <div class="item-box">

    <div class="item-left">
      <%= image_tag @item.photo.url(:medium) %>
    </div>

    <div class="item-right">

      <% if @item.user == current_user %>
        <div class="notice">
          <h3>You listed this item <%= distance_of_time_in_words(@item.created_at, Time.zone.now) %> ago</h3>
          <%= link_to "Edit", edit_item_url(@item.id), class: 'edit-button' %>
          <%= link_to "Delete", item_url(@item.id), class: 'delete-button',
                      :confirm => "Are you sure you want to remove this item from listings?", :method => :delete %>
        </div>
      <% end %>

      <div class="item-top">
        <div class="item-img">
          <%= image_tag @item.user.avatar.url(:thumb) %>
        </div>
        <div class="item-header">
          <p><%= link_to @item.user.username, user_url(@item.user.id) %> is selling his</p>
          <h3><%= @item.title %></h3>
        </div>
      </div>

      <div class="item-bottom">
        <%= render partial: "item_detail" %>
        <br>
        <p><%= @item.description %></p>
        <br>
        <% if @item.user != current_user %>
          <%= link_to "Buy Now", new_item_order_url(@item.id), class: 'buy-button', data: { no_turbolink: true } %>
          <%= link_to "Like (#{pluralize(@item.like_count, 'Likes')})", item_like_url(@item.id), class: 'like-button' %>
          <% if current_user.staff %>
            <% if !@item.staff_pick %>
              <%= link_to "Staff Pick", item_staff_pick_url(@item.id), class: 'like-button' %>
            <% else %>
              <%= link_to "Picked!", item_url(@item.id), class: 'like-button' %>
            <% end %>
          <% end %>
        <% end %>
        <br><br>
        <!-- Comment Form -->
        <form action="<%= item_comments_url(@item.id) %>" method="POST">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

          <label for="comment">Add Comment</label><br>
          <input type="hidden" name="comment[item_id]" value="<%= @item.id %>">
          <textarea id="comment" name="comment[content]"></textarea><br>
          <input type="submit" value="Submit">
        </form>

        <%= render partial: "comments_list" %>
      </div>

    </div>

  </div>

</div>