<div class="left-col">

</div>

<div class="main-col">

  <div class="item-box">

    <div class="item-left">
      <%= image_tag @item.photo.url(:medium) %>
    </div>

    <div class="item-right">

      <div class="item-top">
        <%= image_tag @item.user.avatar.url(:thumb) %>
        <p><%= @item.user.username %> is selling his</p>
      </div>

      <div class="item-bottom">
        <h3><%= @item.title %></h3>
        <%= render partial: "item_detail" %>
      </div>
    </div>

  </div>

  <p><%= @item.description %></p>

  <h3><%= pluralize(@item.like_count, 'Likes') %></h3>

  <hr>
  <!-- Comment Form -->
  <form action="<%= item_comments_url(@item.id) %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label for="comment">Add Comment</label><br>
    <input type="hidden" name="comment[item_id]" value="<%= @item.id %>">
    <textarea id="comment" name="comment[content]"></textarea><br>
    <input type="submit" value="Submit">
  </form>

  <%= render partial: "comments_list" %>
</div>