<!DOCTYPE html>
<html>
  <head>
    <title>99 Suits</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://js.stripe.com/v2/" %>
    <%= csrf_meta_tags %>
    <%= tag :meta, :name => "stripe-key", :content => ENV["STRIPE_PUBLIC_KEY"] %>
  </head>
  <body>

    <%= render partial: "layouts/navbar" %>

    <div class="container">
      <div class="wrapper">
        <%= yield %>
      </div>
      <%= render partial: "layouts/footer" %>
    </div>

    <script>
      <% if current_user %>
        window.current_user_id = <%= current_user.id %>;
      <% end %>
    </script>
  </body>
</html>
